node_modules
.env
.idea

# front
/frontend/node_modules
/frontend/build
/frontend/dist
/frontend/.idea
/frontend/combined_sources.txt

# back
/backend/node_modules
/backend/build
/backend/dist
/backend/.idea
/backend/.cache
/backend/combined_sources.txt